# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.ruff_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Manim
media/
sound_effect/

# Temporary files
*.tmp
*.temp
.temp/
temp/
*.json
!metadata.json
*.exe

# Remove media files
*.mp4
*.avi
*.wav
*.mp3

# builder files
example*.py
video.py
